<a href="https://colab.research.google.com/github/ROrodrigp/ProgramacionCienciaDatos/blob/main/introToPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Pandas es una biblioteca para acceso y manipulacion de datos
import pandas as pd

In [ ]:
datos = pd.read_csv('https://bit.ly/31B56KB')
type(datos)

pandas.core.frame.DataFrame

In [ ]:
datos.head(3)

   Contaminacion_SO2  Temperatura  ...  Lluvia  Dias_Lluvia
0                 10         70.3  ...    7.05           36
1                 13         61.0  ...   48.52          100
2                 12         56.7  ...   20.66           67

[3 rows x 7 columns]

In [ ]:
datos.tail(3)

    Contaminacion_SO2  Temperatura  ...  Lluvia  Dias_Lluvia
38                 29         51.1  ...   38.79          164
39                 31         55.2  ...   40.75          148
40                 16         45.7  ...   29.07          123

[3 rows x 7 columns]

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Contaminacion_SO2  41 non-null     int64
 1   Temperatura        41 non-null     float64
 2   Fabricas           41 non-null     int64
 3   Habitantes         41 non-null     int64
 4   Velocidad_viento   41 non-null     float64
 5   Lluvia             41 non-null     float64
 6   Dias_Lluvia        41 non-null     int64
dtypes: float64(3), int64(4)
memory usage: 2.4 KB

In [ ]:
datos.describe()

       Contaminacion_SO2  Temperatura  ...     Lluvia  Dias_Lluvia
count          41.000000    41.000000  ...  41.000000    41.000000
mean           30.048780    55.763415  ...  36.769024   113.902439
std            23.472272     7.227716  ...  11.771550    26.506419
min             8.000000    43.500000  ...   7.050000    36.000000
25%            13.000000    50.600000  ...  30.960000   103.000000
50%            26.000000    54.600000  ...  38.740000   115.000000
75%            35.000000    59.300000  ...  43.110000   128.000000
max           110.000000    75.500000  ...  59.800000   166.000000

[8 rows x 7 columns]

In [ ]:
len(datos)

41

In [ ]:
datos.columns

Index(['Contaminacion_SO2', 'Temperatura', 'Fabricas', 'Habitantes',
       'Velocidad_viento', 'Lluvia', 'Dias_Lluvia'],
      dtype='object')

In [ ]:
datos.dtypes

Contaminacion_SO2      int64
Temperatura          float64
Fabricas               int64
Habitantes             int64
Velocidad_viento     float64
Lluvia               float64
Dias_Lluvia            int64
dtype: object

In [ ]:
datos.shape

(41, 7)

In [ ]:
datos.values

array([[  10.  ,   70.3 ,  213.  ,  582.  ,    6.  ,    7.05,   36.  ],
       [  13.  ,   61.  ,   91.  ,  132.  ,    8.2 ,   48.52,  100.  ],
       [  12.  ,   56.7 ,  453.  ,  716.  ,    8.7 ,   20.66,   67.  ],
       [  17.  ,   51.9 ,  454.  ,  515.  ,    9.  ,   12.95,   86.  ],
       [  56.  ,   49.1 ,  412.  ,  158.  ,    9.  ,   43.37,  127.  ],
       [  36.  ,   54.  ,   80.  ,   80.  ,    9.  ,   40.25,  114.  ],
       [  29.  ,   57.3 ,  434.  ,  757.  ,    9.3 ,   38.89,  111.  ],
       [  14.  ,   68.4 ,  136.  ,  529.  ,    8.8 ,   54.47,  116.  ],
       [  10.  ,   75.5 ,  207.  ,  335.  ,    9.  ,   59.8 ,  128.  ],
       [  24.  ,   61.5 ,  368.  ,  497.  ,    9.1 ,   48.34,  115.  ],
       [ 110.  ,   50.6 , 3344.  , 3369.  ,   10.4 ,   34.44,  122.  ],
       [  28.  ,   52.3 ,  361.  ,  746.  ,    9.7 ,   38.74,  121.  ],
       [  17.  ,   49.  ,  104.  ,  201.  ,   11.2 ,   30.85,  103.  ],
       [   8.  ,   56.6 ,  125.  ,  277.  ,   12.7 ,   30.58,   82.  ],
       [  30.  ,   55.6 ,  291.  ,  593.  ,    8.3 ,   43.11,  123.  ],
       [   9.  ,   68.3 ,  204.  ,  361.  ,    8.4 ,   56.77,  113.  ],
       [  47.  ,   55.  ,  625.  ,  905.  ,    9.6 ,   41.31,  111.  ],
       [  35.  ,   49.9 , 1064.  , 1513.  ,   10.1 ,   30.96,  129.  ],
       [  29.  ,   43.5 ,  699.  ,  744.  ,   10.6 ,   25.94,  137.  ],
       [  14.  ,   54.5 ,  381.  ,  507.  ,   10.  ,   37.  ,   99.  ],
       [  56.  ,   55.9 ,  775.  ,  622.  ,    9.5 ,   35.89,  105.  ],
       [  14.  ,   51.5 ,  181.  ,  347.  ,   10.9 ,   30.18,   98.  ],
       [  11.  ,   56.8 ,   46.  ,  244.  ,    8.9 ,    7.77,   58.  ],
       [  46.  ,   47.6 ,   44.  ,  116.  ,    8.8 ,   33.36,  135.  ],
       [  11.  ,   47.1 ,  391.  ,  463.  ,   12.4 ,   36.11,  166.  ],
       [  23.  ,   54.  ,  462.  ,  453.  ,    7.1 ,   39.04,  132.  ],
       [  65.  ,   49.7 , 1007.  ,  751.  ,   10.9 ,   34.99,  155.  ],
       [  26.  ,   51.5 ,  266.  ,  540.  ,    8.6 ,   37.01,  134.  ],
       [  69.  ,   54.6 , 1692.  , 1950.  ,    9.6 ,   39.93,  115.  ],
       [  61.  ,   50.4 ,  347.  ,  520.  ,    9.4 ,   36.22,  147.  ],
       [  94.  ,   50.  ,  343.  ,  179.  ,   10.6 ,   42.75,  125.  ],
       [  10.  ,   61.6 ,  337.  ,  624.  ,    9.2 ,   49.1 ,  105.  ],
       [  18.  ,   59.4 ,  275.  ,  448.  ,    7.9 ,   46.  ,  119.  ],
       [   9.  ,   66.2 ,  641.  ,  844.  ,   10.9 ,   35.94,   78.  ],
       [  10.  ,   68.9 ,  721.  , 1233.  ,   10.8 ,   48.19,  103.  ],
       [  28.  ,   51.  ,  137.  ,  176.  ,    8.7 ,   15.17,   89.  ],
       [  31.  ,   59.3 ,   96.  ,  308.  ,   10.6 ,   44.68,  116.  ],
       [  26.  ,   57.8 ,  197.  ,  299.  ,    7.6 ,   42.59,  115.  ],
       [  29.  ,   51.1 ,  379.  ,  531.  ,    9.4 ,   38.79,  164.  ],
       [  31.  ,   55.2 ,   35.  ,   71.  ,    6.5 ,   40.75,  148.  ],
       [  16.  ,   45.7 ,  569.  ,  717.  ,   11.8 ,   29.07,  123.  ]])

In [ ]:
datos['Temperatura'].head

<bound method NDFrame.head of 0     70.3
1     61.0
2     56.7
3     51.9
4     49.1
5     54.0
6     57.3
7     68.4
8     75.5
9     61.5
10    50.6
11    52.3
12    49.0
13    56.6
14    55.6
15    68.3
16    55.0
17    49.9
18    43.5
19    54.5
20    55.9
21    51.5
22    56.8
23    47.6
24    47.1
25    54.0
26    49.7
27    51.5
28    54.6
29    50.4
30    50.0
31    61.6
32    59.4
33    66.2
34    68.9
35    51.0
36    59.3
37    57.8
38    51.1
39    55.2
40    45.7
Name: Temperatura, dtype: float64>

In [ ]:
#Series: almacena una columna 
s = datos.Contaminacion_SO2
type(s)

pandas.core.series.Series

In [ ]:
s.dtype

dtype('int64')

In [ ]:
s.values

array([ 10,  13,  12,  17,  56,  36,  29,  14,  10,  24, 110,  28,  17,
         8,  30,   9,  47,  35,  29,  14,  56,  14,  11,  46,  11,  23,
        65,  26,  69,  61,  94,  10,  18,   9,  10,  28,  31,  26,  29,
        31,  16])

In [ ]:
s.describe()

count     41.000000
mean      30.048780
std       23.472272
min        8.000000
25%       13.000000
50%       26.000000
75%       35.000000
max      110.000000
Name: Contaminacion_SO2, dtype: float64

In [ ]:
s.mean()

30.048780487804876

In [ ]:
s.sum()

1232

In [ ]:
s.value_counts()

10     4
14     3
29     3
9      2
31     2
28     2
26     2
11     2
56     2
17     2
61     1
46     1
69     1
8      1
12     1
13     1
23     1
16     1
18     1
24     1
94     1
30     1
35     1
36     1
110    1
47     1
65     1
Name: Contaminacion_SO2, dtype: int64

In [ ]:
s.unique()

array([ 10,  13,  12,  17,  56,  36,  29,  14,  24, 110,  28,   8,  30,
         9,  47,  35,  11,  46,  23,  65,  26,  69,  61,  94,  18,  31,
        16])

In [ ]:
s.sort_values(ascending=False)

10    110
30     94
28     69
26     65
29     61
20     56
4      56
16     47
23     46
5      36
17     35
36     31
39     31
14     30
18     29
6      29
38     29
35     28
11     28
27     26
37     26
9      24
25     23
32     18
3      17
12     17
40     16
19     14
21     14
7      14
1      13
2      12
22     11
24     11
8      10
31     10
34     10
0      10
15      9
33      9
13      8
Name: Contaminacion_SO2, dtype: int64

In [ ]:
s.sort_values(ascending=True).head(10)

13     8
33     9
15     9
0     10
34    10
31    10
8     10
24    11
22    11
2     12
Name: Contaminacion_SO2, dtype: int64

In [ ]:
s[9:16]

9      24
10    110
11     28
12     17
13      8
14     30
15      9
Name: Contaminacion_SO2, dtype: int64

In [ ]:
#Filas 3 a 8, Columnas 2 a 6
datos.iloc[3:8,2:6]

   Fabricas  Habitantes  Velocidad_viento  Lluvia
3       454         515               9.0   12.95
4       412         158               9.0   43.37
5        80          80               9.0   40.25
6       434         757               9.3   38.89
7       136         529               8.8   54.47

In [ ]:
datos[0:5]

   Contaminacion_SO2  Temperatura  ...  Lluvia  Dias_Lluvia
0                 10         70.3  ...    7.05           36
1                 13         61.0  ...   48.52          100
2                 12         56.7  ...   20.66           67
3                 17         51.9  ...   12.95           86
4                 56         49.1  ...   43.37          127

[5 rows x 7 columns]

In [ ]:
s = datos.Dias_Lluvia
s.values

array([ 36, 100,  67,  86, 127, 114, 111, 116, 128, 115, 122, 121, 103,
        82, 123, 113, 111, 129, 137,  99, 105,  98,  58, 135, 166, 132,
       155, 134, 115, 147, 125, 105, 119,  78, 103,  89, 116, 115, 164,
       148, 123])

In [ ]:
s.value_counts()

115    3
105    2
123    2
116    2
103    2
111    2
127    1
148    1
147    1
82     1
100    1
78     1
137    1
89     1
135    1
134    1
132    1
67     1
129    1
86     1
99     1
155    1
98     1
125    1
36     1
166    1
58     1
113    1
114    1
119    1
164    1
121    1
122    1
128    1
Name: Dias_Lluvia, dtype: int64

In [ ]:
grupo = datos.groupby('Dias_Lluvia')

In [ ]:
grupo.mean()

             Contaminacion_SO2  Temperatura  ...  Velocidad_viento  Lluvia
Dias_Lluvia                                  ...
36                   10.000000    70.300000  ...          6.000000   7.050
58                   11.000000    56.800000  ...          8.900000   7.770
67                   12.000000    56.700000  ...          8.700000  20.660
78                    9.000000    66.200000  ...         10.900000  35.940
82                    8.000000    56.600000  ...         12.700000  30.580
86                   17.000000    51.900000  ...          9.000000  12.950
89                   28.000000    51.000000  ...          8.700000  15.170
98                   14.000000    51.500000  ...         10.900000  30.180
99                   14.000000    54.500000  ...         10.000000  37.000
100                  13.000000    61.000000  ...          8.200000  48.520
103                  13.500000    58.950000  ...         11.000000  39.520
105                  33.000000    58.750000  ...          9.350000  42.495
111                  38.000000    56.150000  ...          9.450000  40.100
113                   9.000000    68.300000  ...          8.400000  56.770
114                  36.000000    54.000000  ...          9.000000  40.250
115                  39.666667    57.966667  ...          8.766667  43.620
116                  22.500000    63.850000  ...          9.700000  49.575
119                  18.000000    59.400000  ...          7.900000  46.000
121                  28.000000    52.300000  ...          9.700000  38.740
122                 110.000000    50.600000  ...         10.400000  34.440
123                  23.000000    50.650000  ...         10.050000  36.090
125                  94.000000    50.000000  ...         10.600000  42.750
127                  56.000000    49.100000  ...          9.000000  43.370
128                  10.000000    75.500000  ...          9.000000  59.800
129                  35.000000    49.900000  ...         10.100000  30.960
132                  23.000000    54.000000  ...          7.100000  39.040
134                  26.000000    51.500000  ...          8.600000  37.010
135                  46.000000    47.600000  ...          8.800000  33.360
137                  29.000000    43.500000  ...         10.600000  25.940
147                  61.000000    50.400000  ...          9.400000  36.220
148                  31.000000    55.200000  ...          6.500000  40.750
155                  65.000000    49.700000  ...         10.900000  34.990
164                  29.000000    51.100000  ...          9.400000  38.790
166                  11.000000    47.100000  ...         12.400000  36.110

[34 rows x 6 columns]

In [ ]:
grupo.sum().head(10)

             Contaminacion_SO2  Temperatura  ...  Velocidad_viento  Lluvia
Dias_Lluvia                                  ...
36                          10         70.3  ...               6.0    7.05
58                          11         56.8  ...               8.9    7.77
67                          12         56.7  ...               8.7   20.66
78                           9         66.2  ...              10.9   35.94
82                           8         56.6  ...              12.7   30.58
86                          17         51.9  ...               9.0   12.95
89                          28         51.0  ...               8.7   15.17
98                          14         51.5  ...              10.9   30.18
99                          14         54.5  ...              10.0   37.00
100                         13         61.0  ...               8.2   48.52

[10 rows x 6 columns]

In [ ]:
s_grupo = grupo.sum()
cond = s_grupo.Temperatura >=65
cond

Dias_Lluvia
36      True
58     False
67     False
78      True
82     False
86     False
89     False
98     False
99     False
100    False
103     True
105     True
111     True
113     True
114    False
115     True
116     True
119    False
121    False
122    False
123     True
125    False
127    False
128     True
129    False
132    False
134    False
135    False
137    False
147    False
148    False
155    False
164    False
166    False
Name: Temperatura, dtype: bool

In [ ]:
s_grupo[cond]

             Contaminacion_SO2  Temperatura  ...  Velocidad_viento  Lluvia
Dias_Lluvia                                  ...
36                          10         70.3  ...               6.0    7.05
78                           9         66.2  ...              10.9   35.94
103                         27        117.9  ...              22.0   79.04
105                         66        117.5  ...              18.7   84.99
111                         76        112.3  ...              18.9   80.20
113                          9         68.3  ...               8.4   56.77
115                        119        173.9  ...              26.3  130.86
116                         45        127.7  ...              19.4   99.15
123                         46        101.3  ...              20.1   72.18
128                         10         75.5  ...               9.0   59.80

[10 rows x 6 columns]